<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>FaceHunt: о нас</title>
    <meta content="поисковая система распознавания лиц, инструмент обратного поиска изображений и механизм поиска фотографий, используемый для определения того, где ваше лицо появляется в сети." name="description">
    <meta content="поисковая система,распознование фотографий" name="keywords">
    {% include 'head_includes.html' %}
</head>
<body>
    {% include 'header.html' %}
    <main id="main">
        <section id="about-services" class="about-services">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-8 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                        <div class="section-header">
                            <h2>О нас</h2>
                        </div>
                    <p>FaceHunt – это доступный онлайн-сервис для поиска людей в интернете по фотографии, использующий технологию обратного поиска изображений. Благодаря передовым технологиям, нейронным сетям и машинному обучению, мы поможем вам найти себя, нужного человека или его двойника за считанные секунды.</p>
                    <p>Существует несколько способов выполнить обратный поиск лиц в интернете. Один из самых популярных – использование поисковых систем для поиска изображений, таких как Google, Bing или Yandex. Этот метод привычен, прост и удобен, но не всегда подходит для поиска людей, так как основан на сходстве изображений, а не на распознавании лиц. Более того, эти поисковые системы, как правило, не осуществляют поиск по социальным сетям.</p>
                    <p>Результаты поиска включают ссылку на изображение или профиль найденного человека в социальной сети, например, vk.com, ok.ru, tiktok.com, clubhouse.com (а в будущем и других). После нахождения профиля вы можете связаться с этим человеком и установить контакт через сайт.</p>
                    <p>В настоящее время у нас собраны и частично или полностью объединены несколько баз данных: аватарки пользователей ВКонтакте, основные фотографии профилей из Одноклассников, фотографии профилей пользователей ВКонтакте, аватарки пользователей Tiktok и ClubHouse, а также базы данных публичных персон (источники: Википедия, IMDb и другие).</p>
                    <p>Наш сервис предназначен в первую очередь для поиска вашего собственного изображения с целью защиты конфиденциальности и авторских прав. Это позволяет вам отслеживать свое присутствие в интернете, защищаться от мошенников, похитителей личных данных или людей, незаконно использующих ваше изображение.</p>
                    <p>Для начала поиска по соответствующей базе данных перейдите на <a href="{{ url_for('search') }}">страницу поиска</a>. Если поиск не дал результатов в одной базе, попробуйте другие. Также рекомендуем использовать несколько различных своих изображений.</p>
                    <p>Существует несколько способов взаимодействия с сервисом: через веб-интерфейс и JSON-RPC API. <a href="{{ url_for('search') }}">Веб-интерфейс</a> предоставляет удобный доступ к сервису через ваш любимый веб-браузер.</p></div>
                    <div class="col-lg-4 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                        <img src="../static/img/FaceHunt-about.svg" alt class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include 'footer.html' %}
    {% include 'modals.html' %}
    {% include 'foot_includes.html' %}
</body>
</html>
