<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>FaceHunt: поисковая система обратного поиска и распознования фотографий</title>
    <meta content="поисковая система распознавания лиц, инструмент обратного поиска изображений и механизм поиска фотографий, используемый для определения того, где ваше лицо появляется в сети." name="description">
    <meta content="поисковая система,распознование фотографий" name="keywords">
    {% include 'head_includes.html' %}
</head>
<body>
    {% include 'header.html' %}
    <section id="hero-animated" class="hero-animated d-flex align-items-center">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
            <div style="width: 100%;">
                <div class="adfinity_block_4724"></div>
            </div>
            <img src="../static/img/FaceHunt-home.svg" class="img-fluid animated">
            <h2>Добро пожаловать</h2>
            <p>FaceHunt – это платформа для поиска информационного следа человека по фотографиям. Используя современные технологии нейронных сетей и машинного обучения, мы поможем вам найти нужного человека или его близкого двойника всего за несколько секунд. Результаты поиска включают ссылки на изображения в интернете или профили найденных людей в социальных сетях, таких как vk.com, ok.ru, tiktok.com, clubhouse.com, а в ближайшем будущем и других.</p>
            <p class="d-none d-sm-inline">На данный момент мы собрали и частично или полностью объединили пять баз данных: аватарки пользователей ВКонтакте, основные фотографии профилей из Одноклассников, фотографии профилей пользователей ВКонтакте, аватарки пользователей Tiktok и ClubHouse, а также базу данных знаменитостей (источники: Википедия, IMDb и другие).</p>
            <div class="d-flex">
                <a href="{{ url_for('search') }}" class="btn-get-started">Искать</a>
                <a href="{{ url_for('about') }}" class="btn-watch-video d-flex align-items-center"><i class="bi bi-info-circle"></i><span>О сервисе</span></a>
            </div>
        </div>
    </section>
    <main id="main">
    </main>
    {% include 'footer.html' %}
    {% include 'modals.html' %}
    {% include 'foot_includes.html' %}
</body>
</html>
